/* write your css code */
* {
  margin: 0px;
  padding: 0px;
}
.main-heading-container {
  text-align: center;
}
.main-heading {
  font-family: roboto;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}
